
.details-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.album-name{
    color: #509bf5;
    font-weight: 800;
    font-size: 40px;
}

.album-release-date{
    /* color: #0000;
    font-weight: 800;
    font-size: 15px; */
    font-weight: 800;
}

/* Classes */
.album-details-container{
    margin-top: 50px;
    font-family: "Circular","Helvetica","Arial","sans-serif";
    text-align: center;

}


