
header{
    background-color: #000000;
    font-size: 33px;
    height: 50px;
    text-align: center;
}

h1{
    color: #42C962;
    font-size: 30px;
    font-weight: 900;
}

footer {
    background-color: #000000;
    bottom: 0;
    color: #42C962;
    height: 20px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
 }

