.select-css {
  box-sizing: border-box;
  border: 1px solid #4f8a8b;
  box-shadow: 0 1px 0 1px #eeeeee(0, 0, 0, 0.04);
  border-radius: 0.2em;
  background-color: #eeeeee;
  cursor: pointer;
  font-size: 16px;
  height: 41px;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  width: 400px;
}

option {
  color: #222831;
  cursor: pointer;
}

option:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

select option:hover,
select option:focus,
select option:active {
  background: linear-gradient(#222831, #222831);
  background-color: #222831 !important;
  color: #fbd46d !important;
}

select option:checked {
  background: linear-gradient(#4f8a8b, #4f8a8b);
  background-color: #4f8a8b !important;
  color: #222831 !important;
}
