
.albums-container{
	text-align: center;
	width: 100%;
	background-color: #eeeeee;
}

.select-container{
	background-color: #4f8a8b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 14px;
}

/* arrow down from the albums-container */
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #FFF;
	position: absolute;
	top: 144px;
    left: 49%;
	margin-left: -25px;
}

.teal{
	border-top: 20px solid #4f8a8b;
}  

.errorMsg{
	color: #d93535;
}